################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# --- Carpetas de compilación ---
bin/
obj/
Debug/
Release/
x64/
x86/
[Aa]rtifacts/
[Bb]uild/
out/

# --- Archivos de compilación ---
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.log
*.tmp
*.bak
*.db
*.manifest

# --- Archivos de configuración del usuario ---
*.user
*.suo
*.userosscache
*.sln.docstates

# --- Archivos generados automáticamente ---
*.generated.*
*.designer.*
*.g.*
*.AssemblyAttributes.cs

# --- Archivos de publicación ---
publish/
app.publish/

# --- Archivos del IDE Visual Studio ---
.vs/
.vscode/

# --- Archivos de prueba ---
TestResult*/
*.VisualState.xml
*.coverage
*.coveragexml
*.testsettings

# --- Archivos de paquetes NuGet ---
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# --- Archivos del sistema operativo ---
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
Icon?
